{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Parrot wings</title>
{% endblock %}


{% block content %}
	{#PRELOADER#}
	<style>
		.preloader {
			left: 0;
			margin: auto;
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			background: #222222;
			z-index: 500;
			height: 100vh;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.preloader__itself {
			height: 58px;
			width: 97px;
			position: relative;
		}
		.preloader__line-wrap {
			animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
			box-sizing: border-box;
			height: 49px;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			transform-origin: 50% 100%;
			width: 97px;
		}
		.preloader__line-wrap:nth-child(1) {
			animation-delay: -57.5ms;
		}
		.preloader__line-wrap:nth-child(2) {
			animation-delay: -115ms;
		}
		.preloader__line-wrap:nth-child(3) {
			animation-delay: -172.5ms;
		}
		.preloader__line-wrap:nth-child(4) {
			animation-delay: -230ms;
		}
		.preloader__line-wrap:nth-child(5) {
			animation-delay: -287.5ms;
		}
		.preloader__line {
			border: 4px solid transparent;
			border-radius: 100%;
			box-sizing: border-box;
			height: 97px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 97px;
		}
		.preloader__line-wrap:nth-child(1) .preloader__line {
			border-color: #BF0000;
			height: 88px;
			width: 88px;
			top: 7px;
		}
		.preloader__line-wrap:nth-child(2) .preloader__line {
			border-color: #FCB856;

			height: 74px;
			width: 74px;
			top: 14px;
		}
		.preloader__line-wrap:nth-child(3) .preloader__line {

			border-color: #5E8914;
			height: 60px;
			width: 60px;
			top: 20px;
		}
		.preloader__line-wrap:nth-child(4) .preloader__line {
			border-color: #08A2B9;
			height: 47px;
			width: 47px;
			top: 27px;
		}
		.preloader__line-wrap:nth-child(5) .preloader__line {
			border-color: #083592;
			height: 33px;
			width: 33px;
			top: 34px;
		}

		@keyframes cssload-spin {
			0%, 15% {
				transform: rotate(0);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	</style>

	<div class="preloader" id="preloader">
		<div class="preloader__itself">
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
			<div class="preloader__line-wrap">
				<div class="preloader__line"></div>
			</div>
		</div>
	</div>
	{#/PRELOADER#}

	{#PAGE CONTENT#}
	<div class="page-content">
		<div class="page-content__container container">
			{#MAIN#}
			<div class="page-content__main">
				{#TITLE BLOCK#}
				<div class="page-content__title-block">
					<h1 class="page-content__title">ParrotWings Exchange</h1>
					<div class="page-content__search-block">
						<form>
							<div class="search-block">
								<div class="search-block__inner">
									<input type="text" class="search-block__input" placeholder="Search...">
								</div>
								<button type="submit" class="search-block__submit"></button>
							</div>
						</form>
					</div>
				</div>
				{#/TITLE BLOCK#}

				{#CATALOG#}
				<div class="catalog">
					<h2 class="catalog__title">Products</h2>
					<div class="catalog__list">
						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-1-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">2 props</p>
							<p class="product__title">Unlimited exchange</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-2-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">1 prop</p>
							<p class="product__title">International exchange</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-3-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">3 props, all</p>
							<p class="product__title">Additional services</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-4-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">5 props</p>
							<p class="product__title">Support</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-5-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">2 props</p>
							<p class="product__title">Holiday works</p>
							<div class="product__link-wrap">
								{#PRODUCT POPUP#}
								<div class="product-popup">
									<p class="product-popup__title">Popup header</p>
									<p class="product-popup__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore.</p>
								</div>
								{#/PRODUCT POPUP#}
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-6-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">not in access</p>
							<p class="product__title">Postal delivery</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-7-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">2 props</p>
							<p class="product__title">Document management</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}

						{#PRODUCT#}
						<div class="product">
							<div class="product__image-wrap">
								<div class="product__image">
									<div class="product__image-inner" style="background-image: url(images/prod-8-min.jpg)"></div>
								</div>
							</div>
							<p class="product__desc">1 prop</p>
							<p class="product__title">Promotions</p>
							<div class="product__link-wrap">
								<a href="#" class="product__link">
									<span class="product__link-gradient"></span>
									<span class="product__link-text">Order</span>
								</a>
							</div>
						</div>
						{#/PRODUCT#}
					</div>
					<div class="catalog__link-wrap">
						<a href="#" class="catalog__link">More products...</a>
					</div>
				</div>
				{#/CATALOG#}
			</div>
			{#/MAIN#}

			{#SIDEBAR#}
			<div class="page-content__sidebar">
				{#SIGN UP FORM#}
				<div class="sidebar-block sidebar-block_sign-up">
					<h2 class="sidebar-block__title">Sign Up</h2>
					<form id="sign-up-form" name="sign-up-form">
						<div class="sidebar-block__form form">
							<div class="sidebar-block__form-list">
								<div class="form__input-holder js-input-holder" data-error="Enter your First Name, please">
									<input type="text"
									       name="firstname"
									       required
									       class="form__input js-input"
									       placeholder="First Name">
								</div>
								<div class="form__input-holder js-input-holder" data-error="Enter your Last Name, please">
									<input type="text"
									       name="lastname"
									       required
									       class="form__input js-input"
									       placeholder="Last Name">
								</div>
								<div class="form__input-holder js-input-holder" data-error="Enter your Email, please">
									<input name="email"
									       type="email"
									       required
									       class="form__input js-input"
									       placeholder="Email">
								</div>
							</div>
						</div>
						<p class="sidebar-block__info">By creating a PW Exchange Account you acknowledge that
							you have read, understood and agree to the
							<a href="#" class="sidebar-block__info-link">Terms of Use</a>
							and
							<a href="#" class="sidebar-block__info-link">Privacy Policy</a>
							.
						</p>
						<div class="form__button-holder">
							<button type="submit" class="form__button btn js-button" id="sign-up-submit">
								<div class="btn__shadow">
									<div class="btn__top">
										<div class="btn__text">Sign Up</div>
									</div>
								</div>
							</button>
						</div>
					</form>
				</div>
				{#/SIGN UP FORM#}

				{#ONLINE MONITOR#}
				<div class="sidebar-block sidebar-block_monitor loading">
					<h2 class="sidebar-block__title">Online Monitor</h2>
					<div class="sidebar-block__button-wrap">
						<a href="#" class="btn">
							<div class="btn__shadow">
								<div class="btn__top">
									<div class="btn__text">Connect</div>
								</div>
							</div>
						</a>
					</div>
					{#LOADER#}
					<div class="loader">
						<div class="loader__icon icon-spin6 animate-spin"></div>
						<p class="loader__text">Loading...</p>
					</div>
					{#/LOADER#}
				</div>
				{#/ONLINE MONITOR#}
			</div>
			{#/SIDEBAR#}
		</div>
	</div>
	{#/PAGE CONTENT#}
{% endblock %}
