{#FOOTER#}
<footer class="footer">
	{#TOP#}
	<div class="footer__top">
		<div class="footer__top-container container">
			<div class="footer__top-inner">
				<div class="footer__top-links">
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_evernote"></a>
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_facebook"></a>
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_pinterest"></a>
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_twitter"></a>
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_youtube"></a>
					<a href="#" target="_blank" class="footer__top-links-item footer__top-links-item_github"></a>
				</div>
				<div class="footer__company-name-wrap">
					<span class="footer__company-name footer__company-name_span">©</span>
					<span class="footer__company-name">Parrot Wings</span>
				</div>
			</div>
		</div>
	</div>
	{#/TOP#}

	{#MAIN#}
	<div class="footer__main">
		<div class="footer__main-container container">
			<div class="footer__main-inner">
				{#MENU#}
				<div class="footer__menu">
					<div class="footer__menu-column">
						<h3 class="footer__menu-column-title">Recruitment Info</h3>
						<div class="footer__menu-column-list">
							<div class="footer__menu-item">
								<p class="footer__menu-item-key">Candidate First Name:</p>
								<p class="footer__menu-item-value">Evgenia</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-key">Candidate Last Name:</p>
								<p class="footer__menu-item-value">Filippova</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-key">Spent Time:</p>
								<p class="footer__menu-item-value">10 hours</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-key">Email:</p>
								<a href="mailto:jane.lehmann23@gmail.com" class="footer__menu-item-value footer__menu-item-value_mail">jane.lehmann23@gmail.com</a>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-key">Test date: </p>
								<p class="footer__menu-item-value">24.04,2018</p>
							</div>
						</div>
					</div>

					<div class="footer__menu-column">
						<h3 class="footer__menu-column-title">Resources</h3>
						<div class="footer__menu-column-list">
							<div class="footer__menu-item">
								<p class="footer__menu-item-text">Loader icon - search on Fontello.com</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-text">Icons - Entypo</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-text">Fonts - search in this file</p>
							</div>
							<div class="footer__menu-item">
								<p class="footer__menu-item-text">Background - standart situation:
									designer lose file </p>
							</div>
						</div>
					</div>

					<div class="footer__menu-column">
						<h3 class="footer__menu-column-title">Navigation</h3>
						<nav class="footer__menu-column-list">
							<div class="footer__menu-item">
								<a href="#" class="footer__menu-item-link">Development</a>
							</div>
							<div class="footer__menu-item">
								<a href="#" class="footer__menu-item-link">Application</a>
							</div>
							<div class="footer__menu-item">
								<a href="#" class="footer__menu-item-link">Holding</a>
							</div>
							<div class="footer__menu-item">
								<a href="#" class="footer__menu-item-link">About</a>
							</div>
						</nav>
					</div>
				</div>
				{#/MENU#}

				{#BROWSERS#}
				<div class="footer__browsers">
					<div class="footer__browsers-list">
						<a href="#" target="_blank" class="footer__browsers-item footer__browsers-item_ff"></a>
						<a href="#" target="_blank" class="footer__browsers-item footer__browsers-item_chrome"></a>
						<a href="#" target="_blank" class="footer__browsers-item footer__browsers-item_ie"></a>
						<a href="#" target="_blank" class="footer__browsers-item footer__browsers-item_safari"></a>
						<a href="#" target="_blank" class="footer__browsers-item footer__browsers-item_opera"></a>
					</div>
					<p class="footer__browsers-info">
						Project should work on next stack:
						IE11, actual version of Firefox, Chrome
						on desktop and android, Opera (opera mini),
						Safari on mac and ios.
					</p>
				</div>
				{#BROWSERS#}

				{#COMPANY NAME RESPONSIVE#}
				<div class="footer__company-name-wrap footer__company-name-wrap_responsive">
					<span class="footer__company-name footer__company-name_span">©</span>
					<span class="footer__company-name">Parrot Wings</span>
				</div>
				{#/COMPANY NAME RESPONSIVE#}
			</div>
		</div>
	</div>
	{#/MAIN#}
</footer>
{#/FOOTER#}