{#HEADER#}
<header class="header">
	<div class="header__bg">
		<div class="header__bg-inner">
			{#BURGER RESPONSIVE#}
			<a href="#" class="header__burger" id="menu-burger">
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
			</a>
			{#/BURGER RESPONSIVE#}

			{#SEARCH RESPONSIVE#}
			<a href="#" class="header__search"></a>
			{#/SEARCH RESPONSIVE#}
		</div>
	</div>
	{#NAVIGATION#}

	{#/NAVIGATION#}
	<div class="header__main">
		<div class="header__main-container container">
			<nav class="header__nav">
				<a href="#" class="header__nav-item">Home</a>
				<a href="#" class="header__nav-item">Credits</a>
				<a href="#" class="header__nav-item">Exchange</a>
				<a href="#" class="header__nav-item">Partners</a>
				<a href="#" class="header__nav-item">Stock</a>
				<a href="#" class="header__nav-item">Holding</a>
				<a href="#" class="header__nav-item">About</a>
			</nav>

			{#RESPONSE TITLE#}
			<h1 class="header__response-title">ParrotWings Exchange</h1>
			{#/RESPONSE TITLE#}
		</div>
	</div>
</header>
{#/HEADER#}