{#MOBILE MENU#}
<div class="mobile-menu" id="mobile-menu">
	<div class="mobile-menu__inner">
		<div class="mobile-menu__nav">
			<a href="#" class="mobile-menu__nav-item">Home</a>
			<a href="#" class="mobile-menu__nav-item">Credits</a>
			<a href="#" class="mobile-menu__nav-item">Exchange</a>
			<a href="#" class="mobile-menu__nav-item">Partners</a>
			<a href="#" class="mobile-menu__nav-item">Stock</a>
			<a href="#" class="mobile-menu__nav-item">Holding</a>
			<a href="#" class="mobile-menu__nav-item">About</a>
		</div>
	</div>
</div>
{#/MOBILE MENU#}