.btn {
	display: inline-block;
	vertical-align: top;

	cursor: pointer;
	position: relative;

	text-decoration: none;
	//overflow: hidden;
	border: 1px solid #bbb8b8;
	background-color: #d6d6d6;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
	height: 41px;
	width: 137px;
	text-align: center;
	border-radius: 15px;
	-webkit-appearance: none;
	outline: none;

	&_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	&__shadow {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
		background: #d6d6d6;
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		border-radius: 9px;
	}
	&__top {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03), inset 0 0 0 rgba(255, 255, 255, 0.4);
		height: 38px;
		background-color: #f0f0f0;
		//background-image: linear-gradient(to top, rgba(0, 0, 0, 0.59) 0%, rgba(255, 255, 255, 0.59) 100%);
		border-radius: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
		.std-transition();
	}
	&__text {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
		color: #949494;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 700;
		.std-transition();
		.btn:hover & {
			.no-touchevents & {
				color: #aa3132;
			}
		}
	}

}
