@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i|Oswald:300');

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?36782669');
	src: url('../fonts/fontello.eot?36782669#iefix') format('embedded-opentype'),
	url('../fonts/fontello.woff2?36782669') format('woff2'),
	url('../fonts/fontello.woff?36782669') format('woff'),
	url('../fonts/fontello.ttf?36782669') format('truetype'),
	url('../fonts/fontello.svg?36782669#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	font-size: 35px;
}

.open() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.oswald() {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}



