.form {
	&__input-holder {
		margin-bottom: 10px;
		position: relative;
		padding: 1px;
		.std-transition();
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #c1c1c1;
			height: 50px;
			z-index: 10;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.error {
			padding-bottom: 20px;
			margin-bottom: 15px;
			&:after {
				background: #FF4B4B;
			}
		}
	}
	&__input {
		position: relative;
		z-index: 20;
		display: block;
		width: 100%;
		height: 48px;
		background: #efefef;
		border-radius: 0;
		border: 1px solid #d8d8d8;
		padding: 3px 16px 0 11px;

		color: #222222;
		font-size: 16px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		-webkit-appearance: none;
		&::-webkit-input-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:focus {
			border-color: #aa3132;
		}
		&.error {
			border-color: #FF4B4B;
		}
	}
	label.error {
		position: absolute;
		.oswald();
		font-size: 12px;
		color: #FF4B4B;
		bottom: 0;
		left: 5px;
	}

	&__button-holder {
		display: flex;
		justify-content: flex-end;
	}
	&__button {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
		color: #949494;
		font-size: 15px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
	}

	&__success-message {
		padding: 15px;
		background: #1f8058;
		color: white;
		line-height: 1.3;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		font-size: 14px;
		margin-top: 20px;
		text-align: center;
	}
}
