.footer {

	// top
	&__top {
		background: #0d0d0d;
	}
	&__top-container {

	}
	&__top-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 47px;
		padding-right: 47px;
		height: 90px;
	}
	&__top-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(~"100% - 338px");
		padding-right: 20px;
	}
	&__top-links-item {
		text-decoration: none;
		opacity: 0.2;
		.std-transition();
		&:hover {
			opacity: 1;
		}
		&_evernote {
			.svg-icon(icon-evernote, 50px, 57px);
		}
		&_facebook {
			.svg-icon(icon-facebook, 51px, 51px);
		}
		&_pinterest {
			.svg-icon(icon-pinterest, 43px, 51px);
		}
		&_twitter {
			.svg-icon(icon-twitter, 58px, 48px);
		}
		&_youtube {
			.svg-icon(icon-youtube, 60px, 46px);
		}
		&_github {
			.svg-icon(icon-github, 56px, 49px);
		}
	}
	&__company-name-wrap {
		display: flex;
		align-items: center;
		&_responsive {
			display: none;
		}
	}
	&__company-name {
		color: #444444;
		font-size: 32px;
		.oswald();
		letter-spacing: -0.8px;
		&_span {
			font-size: 36px;
			letter-spacing: -0.9px;
			margin-right: 2px;
		}
	}

	// main
	&__main {
		background: #111111;
		padding-top: 23px;
		padding-bottom: 30px;
	}
	&__main-container {

	}
	&__main-inner {
		padding-left: 47px;
		padding-right: 47px;
		display: flex;
	}
	&__menu {
		display: flex;
		flex-grow: 20;
		justify-content: space-between;
	}
	&__menu-column {
		width: 33.333%;
		&:nth-child(2) {
			padding-left: 40px;
		}
		&:nth-child(3) {
			padding-left: 80px;
		}
	}
	&__menu-column-title {
		color: #444444;
		font-size: 26px;
		letter-spacing: -0.65px;
		.oswald();
		margin-bottom: 22px;
	}
	&__menu-column-list {

	}
	&__menu-item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__menu-item-key {
		color: #bbbbbb;
		font-size: 16px;
		.oswald();
		margin-right: 4px;
	}
	&__menu-item-value {
		color: #bbbbbb;
		font-size: 16px;
		.oswald();
		text-decoration: none;
		&_mail {
			.std-transition();
			a {
				color: #bbbbbb;
				text-decoration: none;
			}
			.no-touchevents & {
				&:hover {
					color: #aa3132;
				}
			}
		}
	}
	&__menu-item-text {
		color: #bbbbbb;
		font-size: 16px;
		.oswald();
		line-height: 1.1;
	}
	&__menu-item-link {
		color: #bbbbbb;
		font-size: 16px;
		.oswald();
		text-decoration: none;
		.std-transition();
		.no-touchevents & {
			&:hover {
				color: #aa3132;
			}
		}
	}

	&__browsers {
		width: 338px;
		min-width: 338px;
		padding-left: 75px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__browsers-list {
		display: flex;
		margin-bottom: 21px;
		justify-content: flex-end;
		align-items: center;
		.std-transition();
		.no-touchevents & {
			&:hover {
				opacity: 1;
			}
		}
	}
	&__browsers-item {
		margin-right: 20px;
		opacity: 0.5;
		.std-transition();
		.no-touchevents & {
			&:hover {
				opacity: 1;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&_ff {
			//.retina-sprite(@icon-ff-group);
			background: url(../img/icon-ff.png) no-repeat center center;
			background-size: contain;
			width: 23px;
			height: 25px;
		}
		&_chrome {
			background: url(../img/icon-chrome.png) no-repeat center center;
			background-size: contain;
			width: 24px;
			height: 25px;
		}
		&_ie {
			background: url(../img/icon-ie.png) no-repeat center center;
			background-size: contain;
			width: 24px;
			height: 25px;
		}
		&_safari {
			background: url(../img/icon-safari.png) no-repeat center center;
			background-size: contain;
			width: 23px;
			height: 25px;
		}
		&_opera {
			background: url(../img/icon-opera.png) no-repeat center center;
			background-size: contain;
			width: 20px;
			height: 25px;
		}

	}
	&__browsers-info {
		color: #5c5c5c;
		font-size: 14px;
		letter-spacing: -0.35px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		text-align: right;
		line-height: 1.2;
	}
}

@media screen and (max-width: 1100px) {
	.footer {
		// main
		&__main-inner {
			display: block;
		}
		&__menu {
			width: 100%;
			margin-bottom: 30px;
		}

		&__browsers {
			width: 100%;
			min-width: 100%;
			padding-left: 0;
			justify-content: center;
			align-items: center;
		}
		&__browsers-list {
			justify-content: center;
		}
		&__browsers-info {
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}

@media screen and (max-width: 850px) {
	.footer {

		// top
		&__top-links {
			width: 100%;
			padding-right: 0;
		}
		&__company-name-wrap {
			display: none;
			&_responsive {
				display: flex;
				justify-content: center;
			}
		}

		&__browsers {
			margin-bottom: 54px;
		}
	}
}

@media screen and (max-width: 650px) {
	.footer {

		&__top-inner {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__top-links-item {
			&_evernote {
				.svg-icon(icon-evernote, 31px, 36px);
			}
			&_facebook {
				.svg-icon(icon-facebook, 31px, 31px);
			}
			&_pinterest {
				.svg-icon(icon-pinterest, 26px, 31px);
			}
			&_twitter {
				.svg-icon(icon-twitter, 38px, 28px);
			}
			&_youtube {
				.svg-icon(icon-youtube, 38px, 29px);
			}
			&_github {
				.svg-icon(icon-github, 36px, 29px);
			}
		}

		&__main {
			padding-top: 40px;
		}
		&__menu {
			display: block;
		}
		&__menu-column {
			width: 100%;
			margin-bottom: 57px;
			&:nth-child(2) {
				padding-left: 0;
				margin-bottom: 66px;
			}
			&:nth-child(3) {
				padding-left: 0;
			}
		}
		&__menu-column-title {
			text-align: center;
			margin-bottom: 24px;
		}
		&__menu-item {
			justify-content: center;
		}
		&__menu-item-text {
			text-align: center;
		}

		&__browsers-info {
			width: 100%;
		}
	}
}