.header {

	&__bg {
		height: 0;
		padding-bottom: 11.0714286%;
		position: relative;
		z-index: 10;
	}
	&__bg-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../img/parrot-header-bg.jpg) no-repeat 50% 20%;
		background-size: cover;
	}
	&__main {
		background: rgba(0, 0, 0, 0.85);
		margin-top: -45px;
		position: relative;
		z-index: 20;
	}
	&__main-container {

	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 66px;
		height: 45px;
	}
	&__nav-item {
		font-size: 26px;
		color: white;
		.oswald();
		letter-spacing: -0.65px;
		text-decoration: none;
		.std-transition();
		.no-touchevents & {
			&:hover {
				color: #aa3132;
			}
		}
	}

	&__response-title {
		display: none;
		font-size: 28px;
		.oswald();
		text-align: center;
		color: white;
	}
	&__burger {
		display: none;
		width: 28px;
		height: 18px;
		text-decoration: none;
		position: relative;
	}
	&__burger-line {
		position: absolute;
		height: 2px;
		background: white;
		display: block;
		left: 0;
		//right: 0;
		width: 100%;
		box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.97);
		transition: .3s cubic-bezier(.8, .5, .2, 1.4);
		&:first-child {
			top: 0;
			.header__burger_open & {
				left:3px;
				top: 12px;
				width: 30px;
				transition: .3s cubic-bezier(.8, .5, .2, 1.4);
				transform: rotate(90deg);
				transition-delay: 150ms;
			}
		}
		&:nth-child(2) {
			top: 8px;
			.header__burger_open & {
				left:2px;
				top: 20px;
				width: 20px;
				transition: .3s cubic-bezier(.8, .5, .2, 1.4);
				transform: rotate(45deg);
				transition-delay: 50ms;
			}
		}
		&:last-child {
			//top: 16px;
			bottom: 0;
			.header__burger_open & {
				left:14px;
				top: 20px;
				width: 20px;
				transition: .3s cubic-bezier(.8, .5, .2, 1.4);
				transform: rotate(-45deg);
				transition-delay: 100ms;
			}
		}
	}


	&__search {
		display: none;
		.svg-icon-param(icon-search, 21px, 21px, '[fill]: #ffffff');
		box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.66);
	}
}

@media screen and (max-width: 1440px) {
	.header {

		&__bg {
			height: 155px;
			padding-bottom: 0;
		}
	}
}

@media screen and (max-width: 800px) {
	.header {
		&__nav {
			padding: 0 20px;
		}
	}
}

@media screen and (max-width: 650px) {
	.header {

		&__bg {
			height: 109px;
		}
		&__bg-inner {
			display: flex;
			justify-content: space-between;
			padding: 22px 15px 0 15px;
			background: url(../img/parrot-header-bg-responsive.jpg) no-repeat 50% 50%;
			background-size: cover;
		}
		&__main-container {
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__nav {
			display: none;
		}
		&__response-title {
			display: block;
		}
		&__burger {
			display: block;
		}
		&__search {
			display: block;
		}
	}
}