.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__icon {
		margin-bottom: 14px;
	}
	&__text {
		color: #646464;
		font-size: 16px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
	}
}