.mobile-menu {
	position: absolute;
	top: 109px;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/back-bg.png) repeat;
	padding: 20px 0;
	z-index: 2000;
	display: none;

	&__inner {
		height: calc(~"100vh - 65px");
		overflow-y: scroll;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	&__nav-item {
		width: 100%;
		height: 50px;
		text-decoration: none;

		color: white;
		font-size: 20px;
		.oswald();
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;
		&:last-child {
			border-bottom-color: transparent;
		}
	}
}
