.product {
	.catalog & {
		width: calc(~"(100% - 20px * 4) / 5");
		margin-right: 20px;
		margin-bottom: 50px;
		&:nth-child(5n) {
			margin-right: 0;
		}
	}
	&__image-wrap {
		margin-bottom: 11px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.34);
		border-radius: 3px;
		background: #e9e9e9;
		width: 111px;
		margin-left: auto;
		margin-right: auto;
	}
	&__image {
		height: 156px;
		width: 111px;
		position: relative;
		//padding-bottom: 140.5405405%;
		border: 1px solid #999999;
	}
	&__image-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__desc {
		color: #525252;
		font-size: 11px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		text-align: center;
		margin-bottom: 5px;
	}
	&__title {
		color: #121212;
		text-align: center;
		font-size: 18px;
		.oswald();
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 6px;
		line-height: 1.2;
	}
	&__link-wrap {
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__link {
		width: 80px;
		height: 30px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
		//border: 1px solid #dbdbdb;
		background-color: #494949;

		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		position: relative;
		.std-transition();

		&:before {
			content: '';
			position: absolute;
			background: #8b8b8b;
			height: 1px;
			width: 75px;
			top: 1px;
			left: 50%;
			margin-left: -38px;
			.std-transition();
		}
		&:hover {
			background: #aa3132;
			&:before {
				opacity: 0;
			}
		}
	}
	&__link-gradient {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
		pointer-events: none;
		.std-transition();
		border-radius: 4px;
		.product__link:hover & {
			opacity: 0;
		}
	}
	&__link-text {
		color: #ffffff;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 12px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	}
}

@media screen and (max-width: 800px) {
	.product {
		.catalog & {
			width: calc(~"(100% - 20px * 3) / 4");
			&:nth-child(5n) {
				margin-right: 20px;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.product {
		.catalog & {
			width: calc(~"(100% - 20px * 2) / 3");
			&:nth-child(4n) {
				margin-right: 20px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.product {
		.catalog & {
			width: calc(~"(100% - 20px) / 2");
			&:nth-child(3n) {
				margin-right: 20px;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}