.product-popup {
	position: absolute;
	padding: 14px 16px 16px 16px;
	background: rgba(0, 0, 0, 0.79);
	width: 248px;
	z-index: 300;
	border-radius: 5px;
	bottom: 46px;
	left: 50%;
	margin-left: -124px;
	&:after {
		content: '';
		position: absolute;
		bottom: -13px;
		left: 50%;
		margin-left: -7px;
		border-top: 13px solid rgba(0, 0, 0, 0.79);
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
	}

	&__title {
		color: #d3d3d3;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 14px;
		margin-bottom: 10px;
	}
	&__text {
		color: #d3d3d3;
		text-align: center;
		font-size: 12px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		line-height: 1.3;
	}
}

@media screen and (max-width: 1100px) {
	.product-popup {
		width: 146px;
		margin-left: -73px;
		bottom: 52px;
		padding: 14px 14px 9px 14px;
		&:after {
			bottom: -13px;
			left: 50%;
			margin-left: -7px;
			border-top: 13px solid rgba(0, 0, 0, 0.79);
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
		}

		&__title {
			color: #d3d3d3;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-weight: 700;
			text-align: center;
			font-size: 14px;
			margin-bottom: 10px;
		}
		&__text {
			color: #d3d3d3;
			text-align: center;
			font-size: 12px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-weight: 400;
			line-height: 1.3;
		}
	}
}