.search-block {
	position: relative;
	&__inner {
		border: 1px solid #c1c1c1;
	}
	&__input {
		border: 1px solid #dcdcdc;
		display: block;
		width: 100%;
		height: 38px;
		background: #efefef;
		border-radius: 0;
		padding: 0 35px 0 12px;

		color: #222222;
		font-size: 14px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		-webkit-appearance: none;
		&::-webkit-input-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #a3a3a3;
			opacity: 1;
		}
		&:focus {
			border-color: #aa3132;
		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__submit {
		position: absolute;
		right: 13px;
		top: 13px;
		.svg-icon-param(icon-search, 16px, 16px, '[fill]: #acacac');
		border: 0;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
		padding: 0;
	}
}