/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-chrome-name: 'icon-chrome';
@icon-chrome-x: 0px;
@icon-chrome-y: 0px;
@icon-chrome-offset-x: 0px;
@icon-chrome-offset-y: 0px;
@icon-chrome-width: 25px;
@icon-chrome-height: 25px;
@icon-chrome-total-width: 70px;
@icon-chrome-total-height: 70px;
@icon-chrome-image: '../img/sprite.png';
@icon-chrome: 0px 0px 0px 0px 25px 25px 70px 70px '../img/sprite.png' 'icon-chrome';
@icon-ff-name: 'icon-ff';
@icon-ff-x: 45px;
@icon-ff-y: 0px;
@icon-ff-offset-x: -45px;
@icon-ff-offset-y: 0px;
@icon-ff-width: 25px;
@icon-ff-height: 25px;
@icon-ff-total-width: 70px;
@icon-ff-total-height: 70px;
@icon-ff-image: '../img/sprite.png';
@icon-ff: 45px 0px -45px 0px 25px 25px 70px 70px '../img/sprite.png' 'icon-ff';
@icon-opera-name: 'icon-opera';
@icon-opera-x: 0px;
@icon-opera-y: 45px;
@icon-opera-offset-x: 0px;
@icon-opera-offset-y: -45px;
@icon-opera-width: 24px;
@icon-opera-height: 25px;
@icon-opera-total-width: 70px;
@icon-opera-total-height: 70px;
@icon-opera-image: '../img/sprite.png';
@icon-opera: 0px 45px 0px -45px 24px 25px 70px 70px '../img/sprite.png' 'icon-opera';
@icon-safari-name: 'icon-safari';
@icon-safari-x: 44px;
@icon-safari-y: 45px;
@icon-safari-offset-x: -44px;
@icon-safari-offset-y: -45px;
@icon-safari-width: 23px;
@icon-safari-height: 25px;
@icon-safari-total-width: 70px;
@icon-safari-total-height: 70px;
@icon-safari-image: '../img/sprite.png';
@icon-safari: 44px 45px -44px -45px 23px 25px 70px 70px '../img/sprite.png' 'icon-safari';
@icon-chrome-2x-name: 'icon-chrome@2x';
@icon-chrome-2x-x: 0px;
@icon-chrome-2x-y: 0px;
@icon-chrome-2x-offset-x: 0px;
@icon-chrome-2x-offset-y: 0px;
@icon-chrome-2x-width: 50px;
@icon-chrome-2x-height: 50px;
@icon-chrome-2x-total-width: 140px;
@icon-chrome-2x-total-height: 140px;
@icon-chrome-2x-image: '../img/sprite@2x.png';
@icon-chrome-2x: 0px 0px 0px 0px 50px 50px 140px 140px '../img/sprite@2x.png' 'icon-chrome@2x';
@icon-ff-2x-name: 'icon-ff@2x';
@icon-ff-2x-x: 90px;
@icon-ff-2x-y: 0px;
@icon-ff-2x-offset-x: -90px;
@icon-ff-2x-offset-y: 0px;
@icon-ff-2x-width: 50px;
@icon-ff-2x-height: 50px;
@icon-ff-2x-total-width: 140px;
@icon-ff-2x-total-height: 140px;
@icon-ff-2x-image: '../img/sprite@2x.png';
@icon-ff-2x: 90px 0px -90px 0px 50px 50px 140px 140px '../img/sprite@2x.png' 'icon-ff@2x';
@icon-opera-2x-name: 'icon-opera@2x';
@icon-opera-2x-x: 0px;
@icon-opera-2x-y: 90px;
@icon-opera-2x-offset-x: 0px;
@icon-opera-2x-offset-y: -90px;
@icon-opera-2x-width: 48px;
@icon-opera-2x-height: 50px;
@icon-opera-2x-total-width: 140px;
@icon-opera-2x-total-height: 140px;
@icon-opera-2x-image: '../img/sprite@2x.png';
@icon-opera-2x: 0px 90px 0px -90px 48px 50px 140px 140px '../img/sprite@2x.png' 'icon-opera@2x';
@icon-safari-2x-name: 'icon-safari@2x';
@icon-safari-2x-x: 88px;
@icon-safari-2x-y: 90px;
@icon-safari-2x-offset-x: -88px;
@icon-safari-2x-offset-y: -90px;
@icon-safari-2x-width: 46px;
@icon-safari-2x-height: 50px;
@icon-safari-2x-total-width: 140px;
@icon-safari-2x-total-height: 140px;
@icon-safari-2x-image: '../img/sprite@2x.png';
@icon-safari-2x: 88px 90px -88px -90px 46px 50px 140px 140px '../img/sprite@2x.png' 'icon-safari@2x';
@spritesheet-width: 70px;
@spritesheet-height: 70px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @icon-chrome @icon-ff @icon-opera @icon-safari;
@spritesheet: 70px 70px '../img/sprite.png' @spritesheet-sprites;
@retina-spritesheet-width: 140px;
@retina-spritesheet-height: 140px;
@retina-spritesheet-image: '../img/sprite@2x.png';
@retina-spritesheet-sprites: @icon-chrome-2x @icon-ff-2x @icon-opera-2x @icon-safari-2x;
@retina-spritesheet: 140px 140px '../img/sprite@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@icon-chrome-group-name: 'icon-chrome';
@icon-chrome-group: 'icon-chrome' @icon-chrome @icon-chrome-2x;
@icon-ff-group-name: 'icon-ff';
@icon-ff-group: 'icon-ff' @icon-ff @icon-ff-2x;
@icon-opera-group-name: 'icon-opera';
@icon-opera-group: 'icon-opera' @icon-opera @icon-opera-2x;
@icon-safari-group-name: 'icon-safari';
@icon-safari-group: 'icon-safari' @icon-safari @icon-safari-2x;
@retina-groups: @icon-chrome-group @icon-ff-group @icon-opera-group @icon-safari-group;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@retina-group) {
  @normal-sprite: extract(@retina-group, 2);
  @retina-sprite: extract(@retina-group, 3);
  .sprite(@normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    .sprite-image(@retina-sprite);
    .sprite-background-size(@normal-sprite);
  }
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}

/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
.retina-sprites(@retina-groups, @i: 1) when (@i <= length(@retina-groups)) {
  @retina-group: extract(@retina-groups, @i);
  @sprite-name: e(extract(@retina-group, 1));
  .@{sprite-name} {
    .retina-sprite(@retina-group);
  }
  .retina-sprites(@retina-groups, @i + 1);
}
