.catalog {

	&__title {
		color: #121212;
		font-size: 26px;
		.oswald();
		margin-bottom: 29px;
		position: relative;
		&:before {
			content: '';
			width: 19px;
			height: 8px;
			background: #aa3132;
			position: absolute;
			left: -27px;
			top: 50%;
			margin-top: -4px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__link-wrap {
		display: flex;
		justify-content: center;
	}
	&__link {
		color: #444444;
		font-size: 16px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		.no-touchevents & {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.catalog {

		&__title {
			padding-left: 28px;
			margin-bottom: 24px;
			&:before {
				left: 0;
			}
		}
		&__link-wrap {
			display: none;
		}
	}
}