.page-content {
	background: url(../img/back-bg.png) repeat;

	&__container {
		background: #eaeaea;
		padding: 40px 48px 32px 48px;
		display: flex;
		align-items: flex-start;
	}

	// main
	&__main {
		flex-grow: 20;
		padding-right: 48px;
		padding-top: 10px;
	}
	&__title-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 23px;
	}
	&__title {
		color: #121212;
		font-size: 34px;
		.oswald();
		margin-top: -2px;
	}
	&__search-block {
		width: 252px;
		min-width: 252px;
	}
	&__sidebar {
		width: 338px;
		min-width: 338px;
	}
}

@media screen and (max-width: 1100px) {
	.page-content {

		&__container {
			display: block;
		}

		// main
		&__main {
			flex-grow: 0;
			width: 100%;
			padding-right: 0;
			margin-bottom: 48px;
		}
		// sidebar
		&__sidebar {
			width: 100%;
			min-width: 100%;
			display: flex;
		}
	}
}

@media screen and (max-width: 650px) {
	.page-content {
		&__container {
			padding: 24px 15px 0 15px;
		}
		&__title-block {
			display: none;
		}
	}
}

@media screen and (max-width: 450px) {
	.page-content {
		&__sidebar {
			margin-left: -15px;
			margin-right: -15px;
			width: calc(~"100% + 30px");
		}
	}
}