.sidebar-block {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
	border-radius: 3px;
	background-color: #dadada;
	padding: 21px 23px;
	margin-bottom: 29px;
	position: relative;
	&:last-child {
		margin-bottom: 0;
	}
	&_monitor {
		min-height: 328px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	&.loading {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 3px;
			background-color: rgba(227, 227, 227, 0.85);
			z-index: 30;
		}
	}

	&__title {
		color: #222222;
		font-size: 28px;
		.oswald();
		padding-bottom: 22px;
		margin-bottom: 13px;
		position: relative;
		padding-left: 9px;
		&:before {
			content: '';
			position: absolute;
			bottom: 1px;
			left: 0;
			right: 0;
			height: 1px;
			background: #c4c4c4;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: #e5e5e5;
		}
	}
	&__form-list {
		margin-bottom: 10px;
	}
	&__info {
		color: #101010;
		font-size: 11px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		margin-bottom: 13px;
		text-align: center;
		line-height: 1.3;
	}
	&__info-link {
		color: #101010;
		font-size: 11px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 400;
		&:hover {
			text-decoration: none;
		}
	}
	&__button-wrap {
		display: flex;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 1100px) {
	.sidebar-block {
		width: calc(~"(100% - 30px) / 2");
		margin-right: 30px;
		margin-bottom: 0;
		&:last-child {
			margin-right: 0;
		}

	}
}

@media screen and (max-width: 650px) {
	.sidebar-block {
		width: 100%;
		margin-right: 0;
		&_sign-up {
			display: none;
		}
	}
}
